set completion-ignore-case on
set show-all-if-ambiguous on
set mark-symlinked-directories on
set history-preserve-point on
set page-completions off
set match-hidden-files off
set completion-query-items 200
set visible-stats on
set skip-completed-text on
set input-meta on
set output-meta on
set convert-meta off
set editing-mode vi
set show-mode-in-prompt on
set vi-ins-mode-string "I: "
set vi-cmd-mode-string "N: "
